Source: vdr-plugin-ddci
Section: video
Priority: extra
Maintainer: Holger Schvestka <hotzenplotz5@gmx.de>
Build-Depends: cdbs, debhelper (>= 7), vdr-dev (>= 1.7.17), pkg-config, libudev-dev
Standards-Version: 3.9.1
Homepage: https://github.com/flensrocker/vdr-plugin-ddci

Package: vdr-plugin-ddci
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: A VDR plugin, ci-support for DD/Cine/L4M ci-adapter
 Support for the CI of cards by Digital Devices/Cine/Linux4Media

 

